/* - Your Styles Here - */
/* line 10, ../sass/style.scss */
#main-content {
  width: 100%;
  max-width: 960px;
}

/* line 16, ../sass/style.scss */
section {
  margin-top: 30px;
}

/* line 20, ../sass/style.scss */
.the-map {
  width: 100%;
  height: 500px;
  background-color: #fff;
}
/* line 25, ../sass/style.scss */
.the-map svg {
  display: none;
}
/* line 29, ../sass/style.scss */
.the-map .loading {
  position: absolute;
  display: none;
}
/* line 34, ../sass/style.scss */
.the-map path {
  stroke-linejoin: round;
  stroke-linecap: round;
}
/* line 39, ../sass/style.scss */
.the-map .background {
  fill: none;
  pointer-events: all;
}
/* line 44, ../sass/style.scss */
.the-map .feature {
  cursor: pointer;
}
/* line 49, ../sass/style.scss */
.the-map .feature.active {
  stroke: #000;
  stroke-width: 1px;
}
/* line 55, ../sass/style.scss */
.the-map .group.states {
  visibility: visible;
}
/* line 59, ../sass/style.scss */
.the-map path.state {
  stroke: #FFF;
}
/* line 64, ../sass/style.scss */
.the-map path.state-boundaries {
  stroke: #fff;
  stroke-width: 1px;
  fill: none;
}
/* line 70, ../sass/style.scss */
.the-map .group.districts {
  visibility: hidden;
}
/* line 74, ../sass/style.scss */
.the-map path.district {
  stroke: #fff;
  stroke-width: .5px;
}
/* line 80, ../sass/style.scss */
.the-map path.district-boundaries {
  stroke: #fff;
  stroke-width: .5px;
  fill: none;
  display: none;
}
/* line 88, ../sass/style.scss */
.the-map .group.counties {
  visibility: hidden;
}
/* line 92, ../sass/style.scss */
.the-map path.county {
  stroke: #fff;
  stroke-width: .5px;
  fill: #61bc60;
}

/* - Narrow desktop view - */
/* - iPad view - */
/* - Mobile view - */
